
.coral {
  color: coral
}

.logo {
  cursor: pointer;
}

//wideScreen

@media only screen and (min-width: 1201px){
  .nav {
    position: sticky;
    top:0;
    z-index: 90;
    padding: 0 30px;
    background-color: black;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  
    .logo {
      color: white;
      font-size: 20px;
    };
  
    .link {
      color: white;
      padding: 0 25px;
      text-decoration: none;
      font-size: 16px;
  
      &:hover {
        color: coral
      }
    }
  }
}



//Normal size

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .nav {
    position: sticky;
    top:0;
    z-index: 90;
    padding: 0 30px;
    background-color: black;
    height: 12vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  
    .logo {
      color: white;
      font-size: 20px;
    };
  
    .link {
      color: white;
      padding: 0 25px;
      text-decoration: none;
      font-size: 16px;
  
      &:hover {
        color: coral
      }
    }
  }
}


//tablets

@media only screen and (min-width: 501px) and (max-width: 768px){
  .nav {
    position: sticky;
    top:0;
    z-index: 90;
    padding: 20px;
    background-color: black;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  
    .logo {
      color: white;
      font-size: 25px;
      margin-bottom: 10px
    };
  
    .link {
      color: white;
      padding: 0 25px;
      text-decoration: none;
      font-size: 17px;
  
      &:hover {
        color: coral
      }
    }
  }
}

//smartphones

@media only screen and (min-width: 321px) and (max-width: 500px){
  .nav {
    position: sticky;
    top:0;
    z-index: 90;
    padding: 15px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  
    .logo {
      color: white;
      font-size: 25px;
      margin-bottom: 10px;
    };
  
    .link {
      color: white;
      padding: 0 10px;
      text-decoration: none;
      font-size: 16px;
  
      &:hover {
        color: coral
      }
    }
  }
}


