@import '../../../helpers/utilities';

.circularImage {
	@include circularImage;
	transition: all 0.3s ease-in-out;
	cursor: default !important;
}

.circularImage:hover {
	transform: scale(1.1);
}

.game {
	margin: 100px 0;
	background: rgba(110, 107, 107, 0.6);
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 15px;
}

//Wide Screen
@media only screen and (min-width: 1201px) {
	.circularImage {
		height: 15rem;
		width: 15rem;
	}
	.game {
		font-size: 20px;
		width: 50vw;
		height: 40vh;
	}
}

//normal size
@media only screen and (min-width: 769px) and (max-width: 1200px) {
	.circularImage {
		height: 13rem;
		width: 13rem;
	}
	.game {
		font-size: 20px;
		width: 70vw;
		height: 40vh;
	}
}

//tablets
@media only screen and (min-width: 501px) and (max-width: 768px) {
	.circularImage {
		height: 15rem;
		width: 15rem;
	}
	.game {
		font-size: 20px;
		width: 100vw;
		height: 40vh;
	}
}

//smartphones
@media only screen and (min-width: 325px) and (max-width: 500px) {
	.circularImage {
		height: 10rem;
		width: 10rem;
	}
	.game {
		flex-direction: column;
		font-size: 20px;
		width: 100vw;
		height: 40vh;
	}
}
