

.check {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkMessage {
  color: white;
  margin-bottom: 20px;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  border: rgb(187, 121, 0) ridge 40px
}