
.check {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkMessage {
  color: white;
  margin-bottom: 5px;
}


//widescreen

@media only screen and (min-width: 1201px){
  
  .board {
    box-sizing: content-box;
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
    border: rgb(187, 121, 0) ridge 40px
  }
}

//normal size 

@media only screen and (min-width: 769px) and (max-width: 1200px){
  
  .board {
    box-sizing: content-box;
    width: calc(46px * 8);
    height: calc(46px * 8);
    display: flex;
    flex-wrap: wrap;
    border: rgb(187, 121, 0) ridge 20px
  }
}


//tablets
@media only screen and (min-width: 501px) and (max-width: 768px){
  
  .checkMessage {
    font-size: 25px;
  }
  
  .board {
    box-sizing: content-box;
    width: calc(46px * 8);
    height: calc(46px * 8);
    display: flex;
    flex-wrap: wrap;
    border: rgb(187, 121, 0) ridge 20px
  }
}

//smartphones 
@media only screen and (min-width: 325px) and (max-width: 500px){
  
  .checkMessage {
    font-size: 25px;
  }
  
  .board {
    box-sizing: content-box;
    width: calc(34px * 8);
    height: calc(34px * 8);
    display: flex;
    flex-wrap: wrap;
    border: rgb(187, 121, 0) ridge 10px
  }
}

