$underAttack : radial-gradient(red, burlywood);

:export {
  underAttack: $underAttack
};


.selected {
  background: radial-gradient(green, burlywood)
}

img{
  &:hover {
    cursor: grab
  };

  &:active {
    cursor: grabbing
  }
}

.available {
  border-radius: 50%;
  background-color: forestgreen;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

//widescreen
@media only screen and (min-width: 1201px){
  .available {
    width: 12px;
    height: 12px;
  }
  
  .cell {
    width: 64px;
    height: 64px;
  
    img{
      width: 48px;
      height: 48px;
    }
  }
}

//normal size
@media only screen and (min-width: 769px) and (max-width: 1200px){
  .available {
    width: 10px;
    height: 10px;
  }
  
  .cell {
    width: 46px;
    height: 46px;
  
    img{
      width: 34px;
      height: 34px;
    }
  }
}

//tablets
@media only screen and (min-width: 501px) and (max-width: 768px){
  .available {
    width: 10px;
    height: 10px;
  }
  
  .cell {
    width: 46px;
    height: 46px;
  
    img{
      width: 34px;
      height: 34px;
    }
  }
}

//smartphones

@media only screen and (min-width: 325px) and (max-width: 500px){
  .available {
    width: 7px;
    height: 7px;
  }
  
  .cell {
    width: 34px;
    height: 34px;
  
    img{
      width: 22px;
      height: 22px;
    }
  }
}

