
.lost {
  font-weight: bold;
  height: calc(64px * 8);
  padding: 30px;
  margin-left: 50px;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: start;

  h3 {
    margin-bottom: 10px;
  }
}

.pieceImg {
  width: 20px;
  height: 20px
}