* {
  padding: 0;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif
}

.chess {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell img {
  width: 48px;
  height: 48px
}

.cell:hover {
  background-color:forestgreen;
}

.cell img:hover {
  cursor: grab
}

.cell img:active {
  cursor: grabbing
}

.black {
  background-color: chocolate;
}

.white {
  background-color: burlywood;
}

.selected {
  background-color: darkgreen;
}

.available {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: forestgreen;
}

.turn {
  height: 10vh;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav {
  position: sticky;
  top:0;
  z-index: 90;
  padding: 0 30px;
  background-color: black;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#logo {
  color: white;
  font-size: 20px;
  text-decoration: none;
}


#link {
  color: white;
  padding: 0 25px;
  text-decoration: none;
  font-size: 16px;
}

#link:hover {
  color: coral
}

.header {
  position: relative
}

.coral {
  color: coral
}

.header .header-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  background: rgba(0,0,0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .header-content h1 {
  font-size: 60px
}

.header .header-content p {
  margin: 30px 0;
  font-size: 25px;
}

.header .header-content button {
  font-size: 20px;
  border: none;
  border-radius: 15px;
  padding: 15px 40px;
  background: rgba(185, 178, 178, 0.4);
  color: white;
}

.header .header-content button:hover {
  background: coral;
  color:black;
  cursor:pointer
}


#header-image {
  width: 100%;
  height: 100vh;
  background: url('./assets/tablegame1.jpg') center center/cover no-repeat;
}

.section {
  position:relative
}

.section #section-content {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  color: white;
  background: rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section-content h1 {
  font-size: 60px;
  margin-top: 80px;
}

#section-image {
  width: 100%;
  height: 140vh;
  background: url('./assets/wood.jpg') center center/cover no-repeat;
}

#game {
  margin: 100px 0;
  background: rgba(110, 107, 107, 0.6);
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 20px;
  padding: 100px 150px;
  border-radius: 15px;
}

#chess-text {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

#chess-text button {
  margin: 10px 0;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  padding: 15px 40px;
  background: rgba(185, 178, 178, 0.4);
  color: white;
}

#chess-text button:hover {
  background: coral;
  color:black;
  cursor:pointer
}


 #chess-image {
  width: 200px;
  height: 200px;
  background: url('./assets/chesspic.jpg') center center/cover no-repeat;
  border-radius: 50%;
  border: none;
}

#checkers-image {
  width: 200px;
  height: 200px;
  background: url('./assets/checkers.jpg') center center/cover no-repeat;
  border-radius: 50%;
  border: none;
}

#checkers-text {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

#btn-link {
  text-decoration: none;
  margin: 10px 0;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  padding: 15px 40px;
  background: rgba(185, 178, 178, 0.4);
  color: white;
}


#btn-link:hover {
  background: coral;
  color:black;
  cursor:pointer
}

