@import '../../helpers/utilities';


.modal {
  position: fixed;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  display: none;
  background: rgba(0, 0, 0, 0.699);
  z-index: 100;
}

.modalContent {
  padding: 25px;
  background:white;
  min-width: 250px;
  border-radius: 16px;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.699);
  color: black;
  display: flex;
  flex-direction: column;

  a {
    @include btn-shared;
    background: rgba(168, 161, 161, 0.4);
    margin-top: 2rem;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center
  }

  button {
    @include btn-shared;
    background: rgba(168, 161, 161, 0.4);
    margin-top: 2rem;
    color: black;
  }
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color:red
}